*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: #ffffff;
}
header{
    top: 0;
    z-index: 999;
}
.ext-link-top{
    background-color: #F17800;
    position: absolute;
    right: 0;
    text-align: right;
    display: inline-block;
    padding: 0 10px;
    padding-left: 30px;
    line-height: 47px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
nav{
    background-color: #000000;
    height: 58px;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
nav li{
    list-style: none;
    display: inline-block;
}
nav li a{
    display: block;
    line-height: 55px;
    padding: 0 10px;
    margin-left: 5px;
    margin-bottom: 1px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
}
nav li a:hover,
nav li a.selected{
    border-bottom: 2px solid #ffffff;
}
nav li.ext-link a{
    background-color: #F17800;
    padding: 0 17px;
    border-bottom: 3px solid #F17800;
    margin-bottom: 0px;
}
.bg-black{
    background-color: #000000;
}
main{
    background-color: #ffffff;
}
.welcome-text{
    background-color: #0E869B;
    line-height: 47px;
    height: 47px;
    font-weight: 500;
    position: relative;
    display: block;
}
.welcome-text span{
    margin-left: 100px;
    font-size: 1.1rem;
}
a.logo{
    position: absolute;
}
a.logo img{
    height: 100px;
}
.slide-left-layout a.logo{
    top: 0;
    left: 120px;
}
.cover{
    background-color: #BBA16D;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    position: relative;
}
.cover img{
    min-width: 100%;
    min-height: 100%;
}
.cover-header{
    position: absolute;
    background-color: #ffffff;
    color: #0E869B;
    width: 300px;
    height: 300px;
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 150px;
    left: -55px;
    top: -60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.cover-header .cover-header-text-large{
    font-size: 3.8em;
    font-weight: 600;
    line-height: 1em;
}
.cover-header .cover-header-text-small{
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1em;
    padding-left: 3px;
}
.slide-nav{
    color: #0E869B;
}
.slide-header-text{
    font-weight: 900;
    line-height: 1em;
    position: relative;
    bottom: -15px;
}
.slide-contents{
    background-color: #0E869B;
    color: #ffffff;
}
.slide-contents-header h1{
    line-height: 1em;
    font-weight: 800;
    margin: 0;
    margin-bottom: 30px;
}
.slide-contents-header p{
    font-size: 1.8em;
    line-height: 1em;
    font-weight: 800;
    margin: 0;
    margin-bottom: 30px;
}
.slide-container-cover{
    overflow: hidden;
}
.slide-item{
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;
}
.slide-item img{
    min-width: 100%;
    min-height: 100%;
}
.info-banner{
    display: flex;
    height: 60px;
    line-height: 60px;
}
.info-map img{
    width: 34px;
    height: 34px;
    margin: 12px;
}
.info-socmed-text{
    margin-left: 40px;
}
a.icon-socmed{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #515349;
    overflow: hidden;
    position: relative;
}
a.icon-socmed svg{
    position: absolute;
}
a.icon-socmed.facebook svg{
    top: 3px;
}
a.icon-socmed.twitter svg{
    left: 2px;
    top: 3px;
}
a.icon-socmed.instagram svg{
    top: 2px;
    left: 1px;
}
a.icon-socmed.youtube svg{
    top: 3px;
    left: 2px;
}

.list-collection{
    color: #124D58;
}
.list-collection .list-cover{
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
}
.list-collection .list-cover img{
    max-width: 100%;
    min-height: 100%;
}
.list-collection .list-detail{
    position: relative;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.list-collection .list-detail a.button-link{
    position: absolute;
}
.list-collection.odd .list-detail a.button-link{
    left: -60px;
}
.list-collection.even .list-detail a.button-link{
    right: -60px;
}
.list-collection.odd{
    flex-direction: row;
    background-color: #ffffff;
}
.list-collection .list-cover{
    margin: 40px;
}
.list-collection.even{
    flex-direction: row-reverse;
    background-color: #E5E5E5;
}
.list-collection.even .list-detail{
    text-align: right;
}
.list-collection .list-detail h2{
    color: #F17800;
    margin-bottom: 20px;
}
.list-collection .list-detail p{
    font-size: 1.1em;
}
span.arrow{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    opacity: 1;
    outline: none;
}
a:focus, a:active{
    outline: none;
}
.slide-nav-container a[aria-disabled=true] span{
    opacity: .5;
    cursor: default;
}
span.arrow:hover{
    opacity: .9;
}
span.arrow.left{
    background-image: url(../../assets/img/left-64.png);
}
span.arrow.right{
    background-image: url(../../assets/img/right-64.png);
}
span.arrow.w64{
    width: 64px;
    height: 64px;
}
span.arrow.w48{
    width: 48px;
    height: 48px;
}
.dflex{
    display: flex;
}
#navMenu{
    text-align: right;
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 20px;
    margin-top: 14px;
    cursor: pointer;
}
#dropdownMenu{
    display: block;
    position: fixed;
    height: calc(100vh - 105px);
    width: 100vw;
    z-index: 9999;
    background-color: #000000;
    top: 105px;
    left: 100vw;
    transition: left .35s ease;
}
#dropdownMenu a{
    display: block;
    line-height: 55px;
    padding: 0 20px;
}
#dropdownMenu a.selected, 
#dropdownMenu a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-position: under;
}
#dropdownMenu.show{
    left: 0;
    transition: left .35s ease;
}

#dropdownMenu a.ext-link{
    background-color: #F17800;
    border-bottom: 2px solid #F17800;
}
.info-map-container{
    display: flex;
    align-items: center;
}
.tooltip-info{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    color: #124D58;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
#base .item,#base .item a{
    color: #000;
}
.tns-nav{
    display: none;
}
.tns-controls{
    position: absolute;
    z-index: 3;
}
@media(max-width: 480px){
    header{
        position: relative;
    }
    .only-desktop, nav .only-desktop{
        display: none;
    }
    .only-mobile{
        display: inline-block;
    }
    
    main{
        padding-top: 0;
    }
    .cover{
        height: 100vw;
    }
}
@media(min-width: 480px){
    header{
        position: fixed;
    }
    .only-desktop{
        display: inline-block;
    }
    .list-container.only-desktop{
        display: block;
    }
    nav.only-desktop{
        display: block;
    }
    .only-mobile{
        display: none;
    }
    main{
        padding-top: 47px;
    }
    .cover{
        height: 440px;
    }
}
@media(max-width: 767px){
    .slide-header{
        display: block;
    }
    .slide-header-text-small{
        font-size: .6em;
        font-weight: 400;
        line-height: 1.2em;
        padding-left: 3px;
    }
}
@media(max-width: 768px){
    
    .slide-header-text-large{
        font-size: 1.8em;
        font-weight: 600;
        line-height: 1em;
        letter-spacing: 2px;
    }
    .slide-header-text{
        font-size: 5rem;
        margin: 0;
        left: -6px;
    }
    .slide-left-layout{
        width: 150px;
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
    }
    .slide-left-layout::after{
        content: "";
        background-color: #ffffff;
        width: 220px;
        height: 220px;
        border-radius: 150px;
        display: block;
        position: absolute;
        z-index: -1;
        top: -90px;
        left: -60px;
    }
    .slide-contents{
        display: block;
    }
    .slide-container{
        position: relative;
        width: 100%;
    }
    .slide-container-cover{
        position: relative;
        z-index: 1;
        top:0;
        right: 0;
        background-color: #000000;
        width: 100vw;
        height: 120vw;
        display: block;
    }
    .slide-contents-header{
        margin: 0;
        width: 100%;
        margin-top: 0;
        position: relative;
        min-height: 0;
    }
    .slide-contents-text{
        position: relative;
        z-index: 3;
        margin: 0 20px;
        padding: 20px 0;
        margin-left: 80px;
    }
    .slide-contents-header h1{
        font-size: 2.3em;
    }
    .slide-contents-header p{
        font-size: 1.3em;
    }
    .slide-number{
        font-size: 17em;
        font-weight: 800;
        position: absolute;
        right: 20px;
        top: -150px;
        left: auto;
        color:#124D58;
        line-height: 1em;
        text-align: left;
        margin:0;
        padding:0;
        letter-spacing: -10px;
        z-index: 2;
        opacity: .5;
    }
    .slide-nav-container{
        position: absolute;
        z-index: 2;
        top: auto;
        bottom: 20px;
        left: auto;
        right: 30px;
    }
    .slide-nav{
        position: static;
    }
    .list-collection .list-cover{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border: 8px solid #505145;
    }
    .list-collection{
        padding: 15px;
    }
    .list-collection.odd .list-detail p{
        padding-right: 0;
    }
    .list-collection.even .list-detail p{
        padding-left: 0;
    }
    .info-map{
        width: auto;
    }
    a.icon-socmed{
        margin: 17px 2px;
        margin-right: 5px;
    }
    main{
        width: auto;
    }
    .info-banner{
        background-color: #124D58;
        justify-content: space-around;
    }
    .info-banner a svg{
        fill: #124D58;
    }
}
@media(min-width: 768px){
    .slide-header{
        display: flex;
        align-items: flex-end;
    }
    main{
        padding-top: 105px;
    }
    .slide-header-text-small{
        font-weight: 400;
        line-height: 1em;
        padding-left: 3px;
    }
    .slide-header-text-large{
        font-size: 2.5em;
        font-weight: 600;
        line-height: 1em;
    }
    .slide-left-layout{
        width: auto;
        padding: 20px;
        position: static;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .slide-left-layout::after{
        content: "";
        background-color: transparent;
        width: 0;
        height: 0;
        border-radius: 0;
        display: none;
        position: absolute;
        z-index: -1;
        top: -120px;
        left: -100px;
    }
}
@media(min-width: 769px){
    .info-banner{
        background-color: #515349;
        justify-content: center;
    }
    .info-banner a svg{
        fill: #515349;
    }
}
@media(min-width: 769px) and (max-width: 1130px){
    .list-collection .list-cover{
        width: 150px;
        height: 150px;
        border-radius: 75px;
        border: 8px solid #505145;
    }
    .slide-header{
        display: flex;
        align-items: flex-end;
    }
    .slide-header-text{
        font-size: 8em;
        margin: 0;
        left: auto;
    }
    .slide-left-layout{
        width: 180px;
        padding: 20px;
        padding-right: 10px;
        position: static;
    }
    .slide-header-text-small{
        font-size: .9em;
    }
    .slide-contents{
        display: flex;
    }
    .slide-container{
        position: relative;
        width: 450px;
    }
    .slide-container-cover{
        position: absolute;
        z-index: 1;
        top:30px;
        right: 0;
        background-color: #124D58;
        width: 350px;
        height: 350px;
        display: block;
    }
    .slide-contents-header{
        margin-left: 20px;
        width: 400px;
        margin-top: 80px;
        position: relative;
        min-height: 400px;
    }
    .slide-contents-text{
        position: absolute;
        z-index: 1;
        margin: 0;
        padding: 0;
    }
    .slide-contents-header h1{
        font-size: 2.8em;
    }
    .slide-contents-header p{
        font-size: 1.5em;
    }
    .slide-number{
        font-size: 18em;
        font-weight: 800;
        position: absolute;
        right: 280px;
        left: auto;
        top:-40px;
        color:#0DA1BA;
        line-height: 1em;
        text-align: right;
        margin:0;
        padding:0;
        letter-spacing: -10px;
        z-index: 0;
        opacity: 1;
    }
    .slide-nav-container{
        position: absolute;
        z-index: 2;
        top: 170px;
        left: -12px;
        bottom: auto;
        right: auto;
    }
    .slide-nav{
        position: relative;
    }
    .info-map{
        width: 250px;
    }
    a.icon-socmed{
        margin: 17px 2px;
    }
    main{
        width: auto;
        padding-top: 105px;
    }
}
@media(min-width: 1130px){
    .slide-header{
        display: flex;
        align-items: flex-end;
    }
    .slide-header-text{
        font-size: 8em;
        margin: 0;
    }
    .slide-left-layout{
        width: 180px;
        padding: 50px;
        padding-bottom: 20px;
        padding-right: 10px;
        position: static;
    }
    .slide-header-text-small{
        font-size: .9em;
    }
    .slide-contents{
        display: flex;
    }
    .slide-container{
        position: relative;
        width: 450px;
    }
    .slide-container-cover{
        position: absolute;
        z-index: 1;
        top:30px;
        right: -58px;
        background-color: #124D58;
        width: 350px;
        height: 400px;
        display: block;
    }
    .slide-contents-header{
        margin-left: 190px;
        width: 400px;
        margin-top: 80px;
        position: relative;
        min-height: 400px;
    }
    .slide-contents-text{
        position: absolute;
        z-index: 1;
        margin: 0;
        padding: 0;
    }
    .slide-contents-header h1{
        font-size: 3.3em;
    }
    .slide-contents-header p{
        font-size: 1.8em;
    }
    .slide-number{
        font-size: 18em;
        font-weight: 800;
        position: absolute;
        right: 260px;
        left: auto;
        top:-40px;
        color:#0DA1BA;
        line-height: 1em;
        text-align: right;
        margin:0;
        padding:0;
        letter-spacing: -10px;
        z-index: 0;
        opacity: 1;
    }
    .slide-nav-container{
        position: absolute;
        z-index: 2;
        top: 170px;
        left: 80px;
        bottom: auto;
        right: auto;
    }
    .slide-nav{
        position: relative;
    }
    .list-collection .list-cover{
        width: 280px;
        height: 280px;
        border-radius: 140px;
        border: 8px solid #505145;
    }
    .list-collection{
        padding: 15px 40px;
    }
    .list-collection.odd .list-detail p{
        padding-right: 80px;
    }
    .list-collection.even .list-detail p{
        padding-left: 80px;
    }
    .info-map{
        width: 250px;
    }
    a.icon-socmed{
        margin: 17px 2px;
    }
    main{
        padding-top: 105px;
    }
}
@media(max-width: 1130px){
    .bg-black{
        width: 100%;
        margin: 0;
        padding-bottom: 1px;
    }
    main{
        margin: 20px 0;
        margin-top: 0;
    }
    .welcome-text{
        padding: 0 20px;
    }
    nav ul{
        padding: 0;
    }
    header{
        width: 100%;
    }
}
@media(max-width: 1024px){
    .list-collection .list-detail a.button-link{
        bottom: 0;
    }
}
@media(min-width: 1024px){
    .welcome-text, nav ul{
        padding: 0 20px;
    }
    .list-collection .list-detail a.button-link{
        bottom: 20px;
    }
}
@media(min-width: 1130px){
    .bg-black{
        width: 1130px;
        margin: 0 auto;
        padding-bottom: 1px;
    }
    main{
        margin: 58px;
        margin-top: 0;
        width: auto;
    }
    .welcome-text, nav ul{
        padding: 0 58px;
    }
    header{
        width: 1130px;
    }
}