<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARA KERJA TEKNOLOGI LIDAR DI DUNIA ARKEOLOGI</title>
    <link rel="stylesheet" href="style.css?v=1.0.1" type="text/css">
    <script src="script.js?v=1.0.0"></script>
</head>
<body>
<div class="desc">
  <div class="desc-container">
	<h3>CARA KERJA TEKNOLOGI LIDAR<br>DI DUNIA ARKEOLOGI</h3>
	<div class="article-share m-bottom-20">
	  <ul class="top-article-share">
		<li class="new-icon-share-fb facebook full-height" id="shareFB"><img src="https://historia.id//web/assets/icon/bookmark/share-fb.svg" class="bookmark-icon" alt="facebook"></li>
		<li class="new-icon-share-tw twitter full-height" id="shareTwitter"><img src="https://historia.id//web/assets/icon/bookmark/share-tw.svg" class="bookmark-icon" alt="twitter"></li>
		<li class="new-icon-share-line line no-web full-height" id="shareLine"><img src="https://historia.id//web/assets/icon/bookmark/share-line.svg" class="bookmark-icon" alt="line"></li>
		<li class="new-icon-share-wa wa no-web full-height" id="shareWhatsapp"><img src="https://historia.id//web/assets/icon/bookmark/share-wa.svg" class="bookmark-icon" alt="whatsapp"></li>
		<li class="new-icon-share-email email full-height" id="shareMail"><img src="https://historia.id//web/assets/icon/bookmark/share-email.svg" class="bookmark-icon" alt="email"></li>
	  </ul>
	</div>
	  <p>LiDAR menggunakan pesawat yang dilengkapi dengan laser pemindai yang ditembakkan untuk menentukan jarak dan elevasi target jauh dari udara untuk menembus pepohonan hutan sehingga bisa mencapai tanah dan mengkonstruksikan pemetaan topografi secara akurat.</p>
  </div>
</div>
<div class="bgimg bg1" id="step01"><div class="bgs bg1 hide" id="step01-bg"></div></div>
<div class="bgimg" id="step02-1">
	<div class="bgs bg2 hide" id="step02-1-bg"></div>
	<div id="step02-1-info" class="info-text hide"> 
		<h2>CARA KERJA LIDAR</h2>
	</div>
</div>
<div class="bgimg" id="step02-2">
	<div id="step02-2-info" class="info-text hide"> 
		<h2>CARA KERJA LIDAR</h2>
		<p>
			<span class="number">1</span>
			<span>Tembakan laser menembakkan 150.000 gelombang yang tidak berbahaya setiap detiknya. Sementara itu, pesawat terbang sesuai koordinat yang dipandu menggunakan GPS dan sistem navigasi internal.</span>
		</p>
	</div>
</div>
<div class="bgimg" id="step03-1"><div class="bgs bg4 hide" id="step03-1-bg"></div></div>
<div class="bgimg" id="step03-2">
	<div id="step03-2-info" class="info-text hide"> 
		<h2>&nbsp;</h2>
		<p>
			<span class="number">2</span>
			<span>Sebuah detektor merekam waktu yang dibutukan gelombang yang memantul kembali ke mesin LiDAR. Gelombang pertama yang memantul kembali adalah gelombang yang mengenai pepohonan atau bangunan dan diikuti gelombang yang mengenai permukaan tanah.</span>
		</p>
	</div>
</div>
<div class="bgimg" id="step04-1"><div class="bgs bg6 hide" id="step04-1-bg"></div></div>
<div class="bgimg" id="step04-2">
	<div id="step04-2-info" class="info-text hide"> 
		<h2>&nbsp;</h2>
		<p>
			<span class="number">3</span>
			<span>Sistem algoritma pada perangkat LiDAR mengabaikan gelombang yang berasal dari pohon dan bangunan sehingga menciptakan peta topografic yang tidak memperhitungkan vegetasi.</span>
		</p>
	</div>
</div>
<div class="bgimg" id="step05-1"><div class="bgs bg8 hide" id="step05-1-bg"></div></div>
<div class="bgimg" id="step05-2"><div class="bgs bg9 hide" id="step05-2-bg"></div></div>
<div class="bgimg" id="step05-3"><div class="bgs bg10 hide" id="step05-3-bg"></div></div>
<div class="bgimg bg10" id="step05-4"></div>
<div>
    <div class="microiste-footer">
        <div class="footer-container">
            <div class="socmed-footer">
                <a href="https://www.facebook.com/historiadotid/" target="_blank" class="footer-icon-socmed"><img src="https://d220hvstrn183r.cloudfront.net/attachment/55276835496179035503" alt="facebook"></a>
				<a href="https://twitter.com/historia_id" target="_blank" class="footer-icon-socmed m-right-10"><img src="https://d220hvstrn183r.cloudfront.net/attachment/05286710254940274838" alt="twitter"></a>
				<a href="https://youtube.com/channel/UCdIto7ZTtq-86D91G5B2U-g" target="_blank" class="footer-icon-socmed m-right-10"><img src="https://d220hvstrn183r.cloudfront.net/attachment/37301384816695127589" alt="youtube"></a>
				<a href="https://instagram.com/historiadotid" target="_blank" class="footer-icon-socmed"><img src="https://d220hvstrn183r.cloudfront.net/attachment/38789542082871042773" alt="instagram"></a>
            </div>
            <div class="link-footer">
				<a href="/about-us">TENTANG</a>
				<a href="/term-condition" >KETENTUAN</a>
				<a href="/contact" >KONTAK</a>
				<a href="/privacy" class="last-footer-link">KEBIJAKAN PRIVASI</a>
			</div>
            <div class="info-footer">Copyright &copy; 2020 Historia.id.</div>
            <div class="logo-footer">
				<a href="/"><img src="https://s3-ap-southeast-1.amazonaws.com/historia-assets/historia_logo.png" alt="historia"></a>
			</div>
        </div>
    </div>
</div>
</body>
</html>
